{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="profile">

        <div class="profile-data my-3 p-2">
            <div>My email: {{ user.email }}</div>
            <div>My name: {{ user.fullName }}</div>
            <div>My rating: <span class="profile-data-rating-{% if rating > 0 %}good{% else %}bad{% endif %}">{{ rating }}</span></div>
        </div>

        <h2>My publications</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.createdAt|date("d.m.Y") }}</td>
                    <td><a href="{{ path('post_show', {id: post.id}) }}">{{ post.title }}</a></td>
                    <td class="profile-post-status-{{ post.status }}">{{ post.status|trans({}, 'post_status') }}</td>
                    <td>
                        {% if post.status == 0 %}
                            <a class="btn btn-sm btn-info" href="{{ path('post_edit', {id: post.id}) }}">Edit</a>
                            <a class="btn btn-sm btn-warning" href="{{ path('post_edit', {id: post.id}) }}">Publish</a>
                        {% elseif post.status == 1 %}
                            <span>-</span>
                        {% elseif post.status == 2 or post.status == 3 %}
                            <a class="btn btn-sm btn-danger" href="{{ path('post_edit', {id: post.id}) }}">Remove</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}
