{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="profile">

        <div class="profile-data my-3 p-2">
            <div>My email: {{ user.email }}</div>
            <div>My name: {{ user.fullName }}</div>
            <div>My rating: <span class="profile-data-rating-{% if rating > 0 %}good{% else %}bad{% endif %}">{{ rating }}</span></div>
        </div>

        <h2>My publications</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.createdAt|date("d.m.Y") }}</td>
                    <td>{{ post.title }}</td>
                    <td class="profile-post-status-{{ post.status }}">{{ post.status|trans({}, 'post_status') }}</td>
                    <td>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}
