{% extends 'layouts/admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="admin-dashboard">
        <h2>Publications</h2>
        <div>
            <form class="form-inline">
                <select name="userId" id="select2-users-email" class="select2 form-control select2-width" data-autocomplete-url="{{ path('admin_user_search') }}"></select>

                <select class="form-control" name="status">
                    <option></option>
                    {% for status in statuses %}
                        <option value="{{ status }}">{{ status|trans({}, 'post_status') }}</option>
                    {% endfor %}
                </select>

                <div class="input-group date">
                    <input type="text" class="form-control datepicker" placeholder="Date from" name="dateFrom">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>

                <div class="input-group date">
                    <input type="text" class="form-control datepicker" placeholder="Date to" name="dateTo">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.createdAt|date("d.m.Y") }}</td>
                    <td>{{ post.author.email }}</td>
                    <td>{{ post.title }}</td>
                    <td class="profile-post-status-{{ post.status }}">{{ post.status|trans({}, 'post_status') }}</td>
                    <td>
                        <a class="btn btn-sm btn-info" href="{{ path('admin_post_edit', {id: post.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}
