{% extends 'layouts/base.html.twig' %}

{% block title %}Create Post{% endblock %}

{% block body %}
    <div class="post-create">
        <h1>Create New Post</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}

            <select name="tags[]" id="select2-tags" class="form-control my-3" multiple="multiple" data-autocomplete-url="{{ path('tag_search') }}"></select>

            <button class="btn btn-lg btn-primary btn-block my-3" type="submit">
                Create
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
{% endblock %}
