{% extends 'layouts/base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="post-show" data-is-auth="{% if app.user %}1{% else %}0{% endif %}">
        <h1>{{ post.title }}</h1>
        <div>
            {% include 'partials/tags.html.twig' with {'tags': post.tags} %}
        </div>

        <div class="post-show-body">
            {{ post.body|purify }}
        </div>

        <div class="post-show-footer">
            <div>
                Author: {{ post.author.fullName }}
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('RATE', post) %}
                <div class="post-show-footer-rating js-rate" data-rate="{{ rate }}" data-csrf="{{ csrf_token('rating') }}" >
                    <span class="post-show-footer-rating-arrows js-rate-dislike" title="dislike" data-route="{{ dislike_route }}"><i class="fa fa-arrow-down"></i></span>
                    <span class="js-rate-score">{{ count_rating(post.postRatings) }}</span>
                    <span class="post-show-footer-rating-arrows js-rate-like" title="like" data-route="{{ like_route }}"><i class="fa fa-arrow-up"></i></span>
                </div>
            {% else %}
                <div class="post-show-footer-rating">
                    <span>Rating: {{ count_rating(post.postRatings) }}</span>
                </div>
            {% endif %}
        </div>

        {% if post.comments %}
            <div>
                <h4 class="my-4">Comments</h4>
                {% for comment in post.comments %}
                    <div class="card my-3 post-show-comment">
                        <div class="card-header post-show-comment-header">
                            <div>
                                Author: {{ comment.author.fullName }}
                            </div>
                            <div class="post-show-comment-header-posted">
                                posted: {{ comment.createdAt|date("d-m-Y H:i") }}
                            </div>
                        </div>
                        <div class="card-body">
                            {{ comment.body}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div>
                <form action="{{ path('post_comment_store', {id: post.id}) }}" method="post">
                    <div class="form-group">
                        <textarea name="body" class="form-control" placeholder="Add Comment Here" rows="3" required></textarea>
                    </div>
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="hidden" name="csrf" value="{{ csrf_token('comment_post') }}">
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
